@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");

/* ---------------------------------- Colors */

.color-background-red {
	background-color: #ff9a99;
}

.color-background-green {
	background-color: #6bde9d;
}

.color-background-blue {
	background-color: #94c7de;
}

.color-background-grey {
	background-color: #D0D0D0;
}

/* ---------------------------------- Box */

.memory-row {
	position: relative;
	max-width: 42rem;
	max-height: 42rem;
	margin-left: auto;
	margin-right: auto;
}

.memory-select {
	width: 27.33%;
	border-color: dark-blue;
	border-style: solid;
	margin: 3%;
	padding-top: 27.33%;
}